.projects__btn-view {
  margin-top: 80px;
  font-family: inherit;
  display: block;
  width: 580px;
  line-height: 150px;
  font-size: 30px;
  background-color: #67c44b;
  transition: 1s;
  border-radius: 25px;
  text-align: center;
  letter-spacing: -0.03em;
  text-decoration: none;
  cursor: pointer;
}

.projects__btn-view:hover {
  color: rgb(47, 35, 218);
  background: #cfe1d4;
  transform: 0.5s;
}

.connection__btn {
  font-family: inherit;
  display: block;
  width: 400px;
  font-weight: 400;
  font-size: 22px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  background: #304591;
  border: none;
  border-radius: 30px;
}

.connection__btn:hover {
  background: #fff;
  color: #304591;
  transition-duration: 1.5s;
}

@media (max-width: 1199px) {
  .projects__btn-view {
    width: 100%;
    line-height: 125px;
    font-size: 25px;
  }

  .connection__btn {
    width: 300px;
    font-size: 16px;
    line-height: 42px;
  }

  .connection__btn:hover {
    background: #fff;
    color: #304591;
    transition-duration: 1.5s;
  }
}

@media (max-width: 767px) {
  .projects__btn-view {
    margin-top: 60px;
    line-height: 80px;
    font-size: 18px;
    font-weight: 400;
  }

  .connection__btn {
    font-size: 15px;
    width: 100%;
  }
}
