.competencies__inner {
  padding-bottom: 150px;
}

.competencies__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 110px;
  column-gap: 50px;
}

.competencies__item {
  max-width: 535px;
}

.competencies__title-html,
.competencies__title-js,
.competencies__title-framework,
.competencies__title-mobile {
  position: relative;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #67c44b;
  margin-bottom: 15px;
}

.competencies__title-html::before,
.competencies__title-js::before {
  position: absolute;
  content: "";
  bottom: 60px;
  background: url("../resources/html.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}
.competencies__title-js::before {
  background: url("../resources/js.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.competencies__title-framework::before,
.competencies__title-mobile::before {
  position: absolute;
  content: "";
  bottom: 110px;
  background: url("../resources/framework.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}
.competencies__title-mobile::before {
  background: url("../resources/mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.competencies__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .competencies__inner {
    padding-bottom: 120px;
  }
  .competencies__list {
    row-gap: 80px;
    column-gap: 37px;
  }

  .competencies__item {
    max-width: 435px;
  }

  .competencies__title-html,
  .competencies__title-js,
  .competencies__title-framework,
  .competencies__title-mobile {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 13px;
  }

  .competencies__title-html::before, 
  .competencies__title-js::before {
    bottom: 56px;
    width: 36px;
    height: 36px;
  }

  .competencies__title-framework::before, 
  .competencies__title-mobile::before {
    bottom: 98px;
    width: 36px;
    height: 36px;
  }
  .competencies__title-mobile::before {
    bottom: 100px;
  }

  .competencies__text {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 767px) {
  .competencies__inner {
    padding-bottom: 100px;
  }

  .competencies__list {
    flex-direction: column;
    gap: 100px;
  }

  .competencies__item {
    max-width: 350px;
  }

  .competencies__title-html,
  .competencies__title-js,
  .competencies__title-framework,
  .competencies__title-mobile {
    margin-bottom: 13px;
  }

  .competencies__title-html::before,
  .competencies__title-js::before {
    bottom: 56px;
  }

  .competencies__title-framework::before {
    bottom: 98px;
  }
  .competencies__title-mobile::before {
    bottom: 100px;
  }
}
