.competencies__inner {
padding-bottom: 150px;
}

.competence {
  margin-bottom: 60px;
}

.competence:nth-last-child(1) {
  margin-bottom: 0;
}

.competence__title-html,
.competence__title-js,
.competence__title-framework,
.competence__title-mobile {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
  color: #1bff07;
}

.competence__title-html:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  background-image: url("../resources/html.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.competence__title-js:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  background-image: url("../resources/js.png ");
  background-repeat: no-repeat;
  background-size: contain;
}

.competence__title-framework:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  background-image: url("../resources/net.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.competence__title-mobile:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  background-image: url("../resources/mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.competence p {
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
  color: #fff;
}
