.competencies__inner {
  padding-bottom: 150px;
}

.competencies__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 110px;
  column-gap: 50px;
}

.competencies__item {
  max-width: 535px;
}

.competencies__title-html,
.competencies__title-js,
.competencies__title-framework,
.competencies__title-mobile {
  position: relative;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #67c44b;
  margin-bottom: 15px;
}

.competencies__title-html::before {
  position: absolute;
  content: "";
  bottom: 60px;
  background: url("../resources/html.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}
.competencies__title-js::before {
  position: absolute;
  content: "";
  bottom: 60px;
  background: url("../resources/js.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}
.competencies__title-framework::before {
  position: absolute;
  content: "";
  bottom: 110px;
  background: url("../resources/framework.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}
.competencies__title-mobile::before {
  position: absolute;
  content: "";
  bottom: 110px;
  background: url("../resources/mobile.png ");
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  background-size: contain;
}

.competencies__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
