.connection {
  background-color: #191c19;
  border-radius: 30px 30px 30px 30px;

}

.connections__inner {
  height: 717px;
  background-image: url("../resources/programmer.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 0;
}
