.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../resources/photo_me.jpg');
  background-position: 45% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  font-weight: 300;
  bottom: 48px;
  font-size: 25px;
  line-height: 40px;
  color: rgb(47, 35, 218);
}

.title__link {
  text-decoration: none;
  color: rgb(47, 35, 218);
}

.title__link:hover {
  transition: 0.5s;
  color: aliceblue;
}

.title__span {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: rgb(47, 35, 218);
}

@media (max-width: 1199px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .title__span {
    font-size: 25px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 15px;
    line-height: 20px;
  }

  .title__span {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
}
