.nav-section {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.logo-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-decoration: none;
}
