.input {
  display: block;
  width: 400px;
  font-family: inherit;
  font-size: 22px;
  line-height: 29px;
  padding: 20px;
  letter-spacing: -0.03em;
  color: #ffffff;
  background: #3b3d3b;
  border-radius: 20px;
  border: #66b54a;
  transition-duration: 1.5s;
}
