.header__nav-inner {
  display: flex;
  justify-content: space-between;
}

.header__nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo-link {
  font-weight: 500;
  font-size: 35px;
  line-height: 55px;
  text-transform: underline;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link:hover {
  color: rgb(22, 14, 173);
}

.burger-btn {
  display: none;
}

.body_fixed {
  overflow: hidden;
}

@media (max-width: 1199px) {
  .header__nav-links {
    display: none;
  }

  .logo-link {
    font-size: 25px;
    line-height: 45px;
  }

  .burger-btn {
    display: block;
  }
}

@media (max-width: 767px) {
}
