.projects__inner {
  padding: 150px 0;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__item-metrika,
.project__item-nothing {
  height: 550px;
  position: relative;
  background: linear-gradient(
      175deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../resources/projects/metrika.png") center left no-repeat;
  background-size: cover;
  border-radius: 30px;
  cursor: pointer;
}

.project__item-nothing {
  background: url("../resources/projects/nothing.png") center left no-repeat;
}

.project__head {
  position: absolute;
  top: 420px;
  left: 48px;
  font-size: 35px;
  line-height: 20px;
  color: #fff;
}

.project__text {
  position: absolute;
  top: 460px;
  left: 48px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #fff;
}

@media (max-width: 1199px) {
  .projects__inner {
    padding: 120px 0;
  }

  .project__item-metrika {
    width: 100%;
    height: 445px;
    object-fit: cover;
  }

  .project__item-nothing {
    width: 100%;
    height: 445px;
    object-fit: cover;
  }

  .project__head {
    top: 320px;
    font-size: 28px;
    line-height: 36px;
  }

  .project__text {
    top: 360px;
    font-size: 24px;
    line-height: 31px;
  }
}

@media (max-width: 767px) {
  .projects__inner {
    padding: 100px 0;
  }

  .project__head {
    top: 300px;
    font-size: 28px;
    line-height: 36px;
  }

  .project__text {
    top: 340px;
    font-size: 24px;
    line-height: 31px;
  }

  .project__link:hover {
    box-shadow: 0px 0px 25px rgb(16, 27, 89);
    transition: 0.8s;
  }
}
