@import url("subtitle.css");
@import url("backPhoto.css");
@import url("nav.css");
@import url("projects.css");
@import url("competencies.css");
@import url("services.css");
@import url("connections.css");
@import url("order.css");
@import url("input.css");
@import url("buttons.css");
@import url("footer.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Alata", sans-serif;
  width: 100%;
  background-color: rgb(21, 20, 20);
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 17px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }
}
