@import url("subtitle.css");
@import url("header.css");
@import url("nav.css");
@import url("projects.css");
@import url("competencies.css");
@import url("services.css");
@import url("connections.css");
@import url("order.css");
@import url("input.css");
@import url("buttons.css");
@import url("footer.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  min-width: 1400px;
  margin: 0 auto;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.main {
  background-color: rgb(21, 20, 20);
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
