.subtitle {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  color: #ffffff;
}

.subtitle_competencies {
  margin-bottom: 140px;
}

.subtitle_services {
  margin-bottom: 80px;
}

.service__title {
  color: #1bff07;
}

.subtitle_connections {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .subtitle {
    text-align: center;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }

  .subtitle_competencies {
    margin-bottom: 105px;
  }

  .subtitle_services {
    margin-bottom: 60px;
  }

  .subtitle_connections {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .subtitle {
    font-size: 30px;
    line-height: 39px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .subtitle_competencies {
    margin-bottom: 100px;
  }

  .subtitle_services {
    margin-bottom: 80px;
  }

  .subtitle_connections {
    margin-bottom: 40px;
  }
}
